@use '../1-base/_variables' as v
@use '../1-base/_base-mixins' as m
@use 'layouts-mixins' as l-m
@use 'sass:color'

.footer
    background-color: v.$bg-color
    padding: 3rem 0

    @include m.mobile
            padding: 3rem

    a, p
        color: v.$gray-text-color

    li, p
        margin-bottom: 1rem

        a
            &:hover
                color: v.$primary-color
    
    i
        margin-right: .3rem

    h3
        color: v.$light-color
        text-transform: uppercase
        font-size: 1.75rem
        margin-bottom: 1.5rem

    &-top
        @include l-m.center-content

        @include m.mobile
            flex-direction: column
        &-about, &-categories, &-information, &-menu
            max-width: 25%

           

            @include m.mobile
                max-width: 100%
                margin-bottom: 1rem
                text-align: center

                h3
                    width: 100%
                    background-color: lighten( v.$bg-color, 3% )

    &-bottom
        @include l-m.center-content
        flex-direction: column
        justify-content: center
        align-items: center

        &-payments
            margin-bottom: 2rem

            i
                color: v.$dark-color
                cursor: pointer
                font-size: 3rem
                margin: 5px
                transition: .4s

                &:hover
                    color: v.$primary-color